.popup {
    width: 100%;
    height: 100vh;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(000, 000, 000, 0.5);
    top: 0;
    left: 0;
    margin: 0;
}


