.popup__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px;
}

@media screen and (max-width: 640px) {

    .popup__container {
        max-width: 282px;
        max-height: 322px;
        padding: 25px 22px;
    }
}