.popup__button {
  height: 50.15px;
  width: 358px;
  background-color: black;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  align-self: center;
  border-radius: 2px;
  border: 0;
  margin-top: 46px;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .popup__button {
      width: 238px;
      height: 46px;
  }
}