.popup__close-icon {
    position: absolute;
    top: -35px;
    right: -35px;
    width: 26px;
    height: 26px;
}

.popup__close-icon img{
    width: 28px;
}

.popup__close-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .popup__close-icon {
       right: 0;
    }
    .popup_close-icon img {
        width: 20px;
    }
}

