@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);

@import url(../blocks/page/page.css);
@import url(../blocks/main/main.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__top/profile__top.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/editbutton/editbutton.css);
@import url(../blocks/editbutton/__img/editbutton__img.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_img/popup__container-img.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__insert/popup__insert.css);
@import url(../blocks/popup/__insert-name/popup__insert-name.css);
@import url(../blocks/popup/__insert-about/popup__insert-about.css);
@import url(../blocks/popup/__insert-title/popup__insert-title.css);
@import url(../blocks/popup/__insert-link/popup__insert-link.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-view/popup__image-view.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__error/popup__error_visible.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__form/popup__form.css);


@import url(../blocks/figure/figure.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/template/card__template.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__trash/card__trash.css);
@import url(../blocks/card/__rectangle/card__rectangle.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);